#options,
#other {
	display: none;
}

#options {
	/* Set to flex in download.js */
	gap: 3rem;
}

#other {
	margin-top: 3rem;
}

@media (max-width: 750px) {
	#options {
		flex-direction: column;
	}
}
