.hero {
	display: flex;
	gap: 4rem;
	justify-content: space-around;
	align-items: center;
	min-height: calc(90vh - 5rem);
	max-width: 70rem;
	margin: auto;

	div {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-wrap: balance;

		.button {
			background-color: var(--dark_orange);

			span {
				background-color: var(--orange);
			}
		}
	}

	img {
		max-width: 50%;
		max-height: 25rem;
		border-radius: 2rem;
	}

	@media (max-width: 50rem) {
		flex-direction: column-reverse;
		gap: 1rem;
		text-align: center;
		justify-content: center;
		padding: 3rem 1rem;
		height: 100%;

		.button {
			margin: auto;
		}
	}
}

.landing-body {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	max-width: 80ch;
	margin: auto;

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		> * + * {
			margin-top: 1rem;
		}
	}

	.copyright-badge {
		max-width: 18rem;
	}

	.lists {
		display: flex;
		text-align: left;
		margin-left: 2rem;
		gap: 3rem;

		ul * + * {
			margin-top: 2rem;
		}

		li p {
			margin-top: 0.5rem;
		}

		.dos li {
			list-style-image: url("/assets/green_tick.svg");
			list-style-position: outside;
		}

		.donts li {
			list-style-image: url("/assets/red_cross.svg");
			list-style-position: outside;
		}

		@media (max-width: 35rem) {
			flex-direction: column;
		}
	}

	.bubble {
		color: var(--white);
		background-color: var(--orange);
		padding: 3rem 2rem;
		border-radius: 2rem;
		margin-bottom: 2rem;
	}
}
