main {
	max-width: 90ch;
	margin: auto;
}

#releases {
	> * + * {
		border-top: 3px solid var(--light_grey);
	}

	.release {
		padding: 1rem;
		margin: 0.5rem;

		a {
			color: inherit;
			text-decoration: none;
		}

		&:hover {
			color: var(--white);
			background: light-dark(var(--grey), var(--light_grey));
		}
	}
}
