:root {
	color-scheme: light dark;

	--black: #000000;
	--white: #ffffff;

	--light_grey: #626262;
	--grey: #2C2B2B;
	--dark_grey: #1c1c1c;

	--orange: #ed6b44;
	--dark_orange: #874b39;

	--aqua: #7bb7b0;
	--dark_aqua: #577c77;

	--blue: #717cda;
	--dark_blue: #5b608f;

	--purple: #982fee;
	--dark_purple: #6c339c;
}
