main {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80%;
}

img {
	max-height: 20rem;
}

.button {
	background-color: var(--dark_orange);

	span {
		background-color: var(--orange);
	}
}
