main {
	max-width: 90ch;
	margin: auto;
}

#options,
#other {
	display: none;

	p {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}

#options {
	/* Set to flex in download.js */
	gap: 3rem;

	@media (max-width: 45rem) {
		flex-direction: column;
	}
}

#other {
	margin-top: 3rem;
}

.download-svg {
	.button {
		background-color: var(--dark_orange);

		span {
			background-color: var(--orange);
		}
	}
}

.download-png {
	.button {
		background-color: var(--dark_aqua);

		span {
			background-color: var(--aqua);
		}
	}
}

.download-webp {
	.button {
		background-color: var(--dark_blue);

		span {
			background-color: var(--blue);
		}
	}
}

.download-mastodon,
.download-json {
	.button {
		background-color: var(--dark_purple);

		span {
			background-color: var(--purple);
		}
	}
}
