#nav {
	font-size: 1.3rem;
	padding: 1rem 0;
	display: flex;
    align-items: center;
	justify-content: space-between;
	background-color: var(--background);
}

#nav li {
	display: inline;
	padding-left: 1rem;
	all: unset;
	font-weight: 900;
}

#nav a, #nav a:link, #nav a:visited, #nav a:focus, #nav a:hover, #nav a:active {
	all: unset;
	cursor: pointer;
}
