nav {
	padding: 1rem 0;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

nav ul {
	all: unset;
}

nav li {
	font-size: 1.3rem;
	font-weight: 900;
	display: inline;
	margin-left: 0.5rem;
}

nav a:hover {
	background: #c9d4ea;
	cursor: pointer;
}

nav a, nav a:link, nav a:visited, nav a:focus, nav a:active {
	all: unset;
	cursor: pointer;
