/* Use a more-intuitive box-sizing model. */
*, *::before, *::after {
	box-sizing: border-box;
}
/* Remove default margin */
* {
	padding: 0;
	margin: 0;
}
/* Allow percentage-based heights in the application */
html, body {
	height: 100%;
}
/* Typographic tweaks */
body {
	-webkit-font-smoothing: antialiased;
}
/* Improve media defaults */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
/* Remove built-in form typography styles */
input, button, textarea, select {
	font: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

body {
    margin: 0 3rem;
	background-color: var(--background);
	min-height: 100%;
}

#blogposts {
	display: flex;
	flex-direction: column;
}

#blogposts div{
	border-bottom: 2px solid var(--bright_grey);
	width: 100%;
 	box-sizing: border-box;
	padding: 20px 0;
	overflow: hidden;
}

#blogposts h3 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}

#blogposts p {
	margin: 0;
}

@media (max-width: 700px) {
body {
    margin: 0 10px;
}

}
