h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	font-weight: 700;
	margin-bottom: 0.4rem;
}

h1 {
	font-size: 3rem;
	line-height: 3.2rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
}

h3 {
	font-size: 1.8rem;
	line-height: 2rem;
}

h4 {
	font-size: 1rem;
	line-height: 1.2rem;
}

h5 {
	font-size: 0.8rem;
	line-height: 1rem;
}

h6 {
	font-size: 0.6rem;
	line-height: 0.8rem;
}
