header#navbar {
	color: var(--white);
	width: 100%;
	padding: 1rem 3rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	text-transform: lowercase;
	font-weight: 700;
	background: var(--light_grey);
	z-index: 1000;

	#navlanding {
		height: 2.5rem;
		width: auto;
	}

	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		pointer-events: all;
	}

	nav ul {
		display: flex;
		gap: 1rem;
		list-style: none;
	}

	.skip-link {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.5rem;
		margin: 1rem;
		border-radius: 0.25rem;
		background: var(--grey);
		transform: translateY(calc(-100% - 1rem));
		transition: transform 150ms;
	}

	.skip-link:focus {
		transform: translateY(0%);
	}
}

@media (max-width: 700px) {
	header#navbar {
		padding: 1rem 0.8rem;
	}
}
